#####################################################################
##                  Fans
#####################################################################


# [heater_fan Skirt_fan]      # Skirt fan 
#pin: PF9                         	# Manta VF1
# cycle_time: 0.00003	           	# Cycle time
# shutdown_speed: 0.0             	# Closing speed (Please do not change)
# kick_start_time: 0.5            	# start-up time (Please do not change)
# heater: heater_bed              	# Related equipment: heater_bed
# heater_temp: 40                 	# How many degrees does the heat bed reach to activate the fan
# fan_speed: 0.9                 	# Fan speed

[temperature_fan Electronics_Bay] 	# Skirt fan 
pin: PF9                         	# Manta VF1
sensor_type: Generic 3950   	 	# use NT104 sensor in Manta TH2
sensor_pin: PC4						# Manta TH2
hardware_pwm: false
cycle_time: 0.00003					# Cycle time
shutdown_speed: 0.0              	# Closing speed (Please do not change)
kick_start_time: 0.5             	# start-up time (Please do not change)
max_temp: 70                     	# Max temp to halt
target_temp: 35                  	# PID target temp to maintain
min_temp: 0					 	 	# Min temp to halt
off_below: 0.15					 	# Just turn fan off if target speed is below this
max_speed: 1.0					 	# max fan speed to PID
min_speed: 0.00					 	# min fan speed to PID
control: pid
pid_Kp: 1.0
pid_Ki: 1.0							# made this fairly low to introduce some hysteresis into the control and prevent on/off/on/off osc
pid_Kd: 0.5
pid_deriv_time: 2.0


[controller_fan Driver_Fan]    		# Driver cooling fan
pin: PF6                         	# Manta VF2
hardware_pwm: false
cycle_time: 0.00003                	# Cycle time
max_power: 1.0                   	# Maximum power
shutdown_speed: 0.0              	# Shutdown speed
fan_speed: 1.0                   	# Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
idle_timeout: 90                 	# Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
idle_speed: 0.4                  	# Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
heater: heater_bed		        	# Related equipment: heater_bed
#stepper: stepper_x,stepper_y,stepper_z               # Active motors
#Define the name of the heater/stepper configuration section associated with this fan. 
#If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
#The default heater is "extruder", and the default stepper is all steppers.


#Note: The following FAN0/FAN2/FAN3 settings are only applicable when using OrcaSlicer (partfan, aux, filter, respectively),
#as only OrcaSlicer allows for the additional configuration of parts cooling fans and filter fans. 
#If you use other slicing software, please comment out the following configurations.
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan


[fan_generic Bed_Fan]			# 12032 Auxiliary Part cooling Blower 
pin: PA0						# Manta HE0
hardware_pwm: false
cycle_time: 0.00003          	# Cycle time
kick_start_time: 0.5           	# start-up time (Please do not change)


[fan_generic Fume_Fan]        	# Fume_Pack Exhaust Fan
pin: PF7                      	# Manta VF0     
hardware_pwm: false
cycle_time: 0.00003            	# Cycle time    WATCH THIS...default Siboor had this at 0.00003 ... may have contributed to TTC shutdowns?  Need to figure out option for hardware PWM?
kick_start_time: 0.5           	# start-up time (Please do not change)


######################################################################################
######  Macros
######################################################################################


[gcode_macro M106]
description: Set Fan [0,2,3] to speed 0-255
gcode:
	# M160 P[0-3] S[0-255]  set 0 to Part_Fan, 2 to Bed_Fan, 3 to Fume_Fan
	# use P99 for ALL and no P means P0
	
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
	{% set fan = (params.P|int if params.P is defined else 0) %}

	{% if fan == 0 %}
		SET_FAN_SPEED FAN=Part_Fan SPEED={speed}
	{% elif fan == 1 %}
		RESPOND MSG="Fan does not exist!"
	{% elif fan == 2 %}
		SET_FAN_SPEED FAN=Bed_Fan SPEED={speed}
	{% elif fan == 3 %}
		SET_FAN_SPEED FAN=Fume_Fan SPEED={speed}
	{% elif fan == 99 %}
		SET_FAN_SPEED FAN=Part_Fan SPEED={speed}
		SET_FAN_SPEED FAN=Bed_Fan SPEED={speed}
		SET_FAN_SPEED FAN=Fume_Fan SPEED={speed}
	{% endif %}

