[include motion.cfg]					# Hardware for X/Y/Z motion control
[include bed.cfg]						# Heatbed Hardware
#[include stealthburner.cfg]			# everything for using SB head
[include xol.cfg]						# XOL + EBB36 toolhead
[include cartographer.cfg]				# cartographer bedmesh z-stop canbus
[include sensors.cfg]					# temp sensors etc Hardware
[include fans.cfg]						# fan control
[include led.cfg]						# led control


[mcu]                                   # Main MCU configuration
#serial: /dev/serial/by-id/usb-katapult_stm32h723xx_1E003A000D51313339373836-if00
canbus_uuid: 8315ea0578cc               # CAN bus UUID
#canbus_interface: can0                  # CAN bus interface

